<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title or site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include "partials/header.njk" %}

    <main class="container">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
    <script src="/assets/js/clubs.js" defer></script>
    <script src="/assets/js/events.js" defer></script>
  </body>
</html>
